<ion-view title="Locations" class = "main-window" animation="slide-left-right">
    <ion-nav-buttons side="left">
	    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
    <ion-content class="has-header has-footer">
        <div class="list">
            <label class="item item-input item-select" ng-show = "locationCategories">
                <div class="input-label">Locations category</div>
                <select ng-options = "category.label for category in locationCategories" ng-model = "categoryModel" ng-change = "getLocationsByCategory(categoryModel);">
                    <option value="">All locations</option>
                </select>
            </label>
            <a ng-repeat="location in locations | orderBy:'name[0]'" href="#/menu/locations/{{location.type}}/{{location.id}}" class="item item-thumbnail-left" ng-click = "getCurrentLocation(location);">
                <img fallback-src= "img/no-image.png" src="{{location.picture[0]}}">
                <h2>{{location.name[0]}}</h2>
                <h4>{{location.city[0]}}</h4>
            </a>
            <div class = "item text-center" ng-show = "locations">
                <pagination boundary-links="true" num-pages = "nrOfPages" max-size = "5"  total-items="totalItems" ng-model="page.currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
            </div>
        </div>
        
    </ion-content>
    <div class="tabs tabs-icon-top">
    	<a class="tab-item" ng-href = "#/events">
            <i class="icon ion-home"></i>
            Events
        </a>
    </div>
</ion-view>
