<ion-view title="{{locationItem.name[0]}}" class = "main-window" animation="slide-left-right">
    <ion-nav-buttons side="left">
	    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
    <ion-content class="has-header has-footer" ng-show = "locationItem">
        <div class="list card">
            <div class="item item-avatar clearfix">
                <img ng-show = "locationItem.address" src="img/location.png" ng-click="showGoogleCalendar(locationItem);">
                <a href  = "" ng-click = "getASimilarLocation(locationItem);"><img class = "pull-right" src="img/twins.png"></a>
                <h2>{{locationItem.city[0]}}</h2>
                <p>{{locationItem.address[0]}}</p>
                <p>{{locationItem.phone[0]}}</p>
                
            </div>
            <div class="item item-body" collapse="isCollapsed">
                <div id="map_canvas"></div>
            </div>
            <div class="item item-body">
                <img class="full-image" fallback-src= "img/no-image.png" src="{{locationItem.picture[0]}}">
                {{locationItem.content | htmlToPlaintext}}
            </div>   
        </div>
    </ion-content>
    <div class="tabs tabs-icon-top">
    	<a class="tab-item" ng-href = "" ng-click = "goBack();">
            <i class="icon ion-arrow-return-left"></i>
            Back
        </a>
        <a class="tab-item" ng-href = "" ng-click = "addToChecklist(locationItem);">
            <i class="icon ion-plus-circled"></i>
            Add to checklist
        </a>
        <a ng-show = "locationItem.phone" class="tab-item" ng-href = "tel:{{locationItem.phone}}">
            <i class="icon ion-android-call"></i>
            Call
        </a>
    </div>
</ion-view>
