<ion-view title="Wedding" class = "main-window" animation="slide-left-right" ng-controller = "AppCtrl">
    <ion-nav-buttons side="left">
	    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
    <ion-content class="has-header text-center">
    </ion-content>
    <div class="tabs tabs-icon-top">
        <a class="tab-item" ng-href = "" ng-click = "goBack();">
            <i class="icon ion-arrow-return-left"></i>
            Back
        </a>
    	<a class="tab-item" ng-href = "#/events">
            <i class="icon ion-home"></i>
            Events
        </a>
    </div>
</ion-view>
